/* Style sheet for the landing page.  */



/* sets the bg image for the full-page */
/* 100vh makes the image the full page, 100% would only make the image
100% of its parent (original) size */
.bg {
  background-image: url("images/bg-image1.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
    color: black;
    background-color: rgb(231, 236, 238);
  }

div {
    color: rgb(0, 0, 0);
    background-color:  rgb(231, 236, 238);
  }
  
  /* Could do the following (p,h2,h1) individually, but since they 
  have common declarations, can group them together  */
  p,
  h2,
  h1 {
    color: rgb(0, 0, 0);
  }

  img {
    height: auto;
    width: 300px;
  }

  button {
    background-color: rgb(231, 236, 238);
    color: rgb(236, 59, 74);
    font-weight: bold;
    font-size: 32px;
  }

  #two {
    color: #0000ff;
    font-size: 36px;
  }

  #one {
    color: #ffae00;
    font-size: 36px;
  }


  .class1 {
    background-color: rgb(231, 236, 238);
    font-family: Verdana, "DejaVu Sans", sans-serif;
  }

  /* for use with <span class="highlight"></span> */
  .highlight {
    background-color: yellow;
  }


  /* flexboxes */


  /* this selector selects all divs inside of .flex-container */
  .container div {
    height: 150px;
    padding: 20px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
  }

  .item {
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 4px solid darkslategray;
    background: skyblue;
    background-size: cover;
    margin: 0px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

