/* Style sheet for the landing page.  */


* {
  box-sizing: border-box; /* Apply box-sizing to all elements */
}

/* sets the bg image for the full-page */
/* 100vh makes the image the full page, 100% would only make the image
100% of its parent (original) size */
.bg {
  background-image: url("images/bg-image8-expanded.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Logo image for top-left corner of wp */
#top-left-image {
  position: absolute; /* This positions the image relative to the nearest positioned ancestor. If none, it's relative to the <body> */
  top: 0;             /* Align the top edge of the image with the top edge of its container */
  left: 0;            /* Align the left edge of the image with the left edge of its container */
  width: 100px;       /* Set the width of the image (you can adjust this as needed) */
  height: 100;       /* Maintain the aspect ratio of the image */
  z-index: 1000;      /* Ensure the image stays on top of other elements (adjust value if needed) */
  margin-top: 25px;
  margin-left: 200px;
  border-radius: 1em;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
    color: black;
    background-color: rgb(231, 236, 238);
  }

div {
    color: rgb(0, 0, 0);
  }
  
  /* Could do the following (p,h2,h1) individually, but since they 
  have common declarations, can group them together  */
  p,
  h2,
  h1 {
    color: rgb(0, 0, 0);
  }

  img {
    height: auto;
    width: 300px;
  }

  button {
    font-weight: bold;
    font-size: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  button:active #top-left-image {
    transform: scale(0.95);   /* Reduces the image size to 95% of its original size */
  }


  .font1 {
    font-family: Verdana, "DejaVu Sans", sans-serif;
  }

  /* for use with <span class="highlight"></span> */
  .highlight {
    background-color: yellow;
  }


  .container1 {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(35, 45, 59);
    /* alternate colors - Dark blue-grey rgb(35, 45, 59); orange: rgb(204, 102, 0); dark blue rgb(41, 41, 41); */ 
    flex-direction: row;
    gap: 75px;
    padding: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* This adds a padding-top between the container and the webpage  */
    position: absolute;
    bottom: -800px;
    left: 0;
    right: 0;

  }
  
  .container2 {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(35, 45, 59);
    /* alternate colors - Dark blue-grey rgb(35, 45, 59); orange: rgb(204, 102, 0); dark blue rgb(41, 41, 41); */ 
    flex-direction: row;
    gap: 75px;
    padding: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* This adds a padding-top between the container and the webpage  */
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;

  }

  .card {
    display: flex;
    padding: 10px;
    color: rgb(227, 232, 238); /* this is the color of the font */
    background-color: #f7601b; /* this is the bg color of the card */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border: 1px transparent black;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 0.5em;
  }

  .subtext {
    display: flex;    /* Makes it appear on a new line below the card content */
    color: rgb(227, 232, 238);       
    font-size: 16px;   
    font-family: 'Roboto', sans-serif;
    margin-top: 200px;   /* Space between the card content and subtext */
    align-items: center;
    justify-content: center;
}

/* Title to go with the container. Will move automatically if the container moves */
.container-title {
  display: flex;    /* Makes it appear on a new line below the card content */
  color: rgb(227, 232, 238);       
  text-align: center;
  font-size: 30px;   
  font-family: 'Roboto', sans-serif;
  margin-top: 200px;   /* Space between the card content and subtext */
  align-items: center;
  justify-content: center; 
  position: absolute;
  top: -150px;
  left: center;
}
 